<div class="bio-container">
  <header class="bio-header">
    <h1>Hi, I'm <span class="highlight">{{name}}</span></h1>
    <p class="subtitle">But my friends and family call me {{nickname}}</p>
  </header>

  <section class="bio-section">
    <h2>Family & Background</h2>
    <p>I am a husband, a brother and the only son in my family. Coming from a south Asian family being the only son comes with a lot of high expectations and responsibilities, so I had to start maturing from an earlier age.</p>
    <p>I don't come from a rich background, neither a poor one. Growing up in tower hamlets East London I was surrounded by what we call 'grafters' and hardworking people. Everyone is 'on the go' chasing success. I have always aspired to become successful. However, there was something holding me back and that something was ME! I knew I had to work on myself and not only that I wanted to become successful doing what I am passionate about and not doing what others did.</p>
  </section>

  <section class="bio-section">
    <h2>My Tech Journey</h2>
    <p>My tech journey began from a young age, it all started from playing video games, experimenting different applications and Batman! Yes, you heard me I'm a huge Batman fan & this superhero helped me develop a passion in tech. whenever I use to watch Batman I use to always be like "Wow, I want all these cool tech, I wonder how they make it"? that question alone started to build a lot of curiosity in me and off I went to start my journey in learning everything about computers and technology.</p>
    <p>I went to college to study IT and was one of the few people in that subject who got the highest grade. I then went onto Uni to study computer science and did pretty decent, I think I could have done better.</p>
    <p>After coming out of uni I was faced with a few challenges, looking for a job & figuring out what to do. It was a challenge for me because I didn't plan ahead, I stopped following my passion and was only trying to get any job just to make some Money! So I got into jobs that I didn't have any passion for, only did it to make money. However, saying that one thing I must say I did meet some incredible people, gained a lot of experience and shaped me into who I am today.</p>
  </section>

  <section class="bio-section">
    <h2>Personal Development Journey</h2>
    <p>A few years prior to covid I knew I had to make some changes, I accidently came across a Jim Rohn video on YouTube & one quote that stuck to me was "To have more you must become more" and "people don't pay you for your time but the value you bring to them". This Is when my road to personal development began! And that's when everything starting changing for me in a positive way.</p>
    
    <p>I started my journey with:</p>
    <ul class="growth-areas">
      <li>Connecting to God</li>
      <li>Praying daily</li>
      <li>Trying my best to help my parents</li>
      <li>Reading personal development books</li>
      <li>Attending boxing classes</li>
      <li>Training in Muay Thai (Till I sprained my ankle)</li>
      <li>Consistent home training</li>
    </ul>

    <p class="quote">I am not the strongest, not the fittest but I AM THE MOST CONSISTENT and get my workout in even when I don't feel like it & it has helped my life drastically.</p>
  </section>

  <section class="bio-section">
    <h2>Life Coaching & Return to Tech</h2>
    <p>Come 2020 things started to change due to covid. I couldn't go out as much so I had to make some adjustments in continuing my personal development journey. I started to train to become a life coach and within a year I qualified and started to coach clients, the feeling of helping people created a buzz for me and I felt fulfilled doing it.</p>
    
    <p>BUT! As I mentioned earlier on, I still had a passion for tech & I was ready to pursue it once again. A good friend of mine convinced me to get back into tech, so I went for it! A lot had changed when I got back into tech, there's a lot newer tools, more new programming languages but this didn't stop me. Having a growth mind-set, I just know I can learn it!</p>
  </section>

  <section class="bio-section">
    <h2>Current Focus</h2>
    <p>Fast forward today I have made a decision & that decision is to become Great! I am working as a Tech analyst for a big bank & working on projects outside of work to build my portfolio.</p>
    
    <p>My current areas of expertise and focus:</p>
    <ul class="focus-areas">
      <li>Backend Engineering</li>
      <li>Frontend Engineering</li>
      <li>AI Agents Development</li>
    </ul>
  </section>

  <footer class="bio-footer">
    <p>I wish you all nothing but success! If you need any help, advice or coaching with your personal development. Please feel free to contact me.</p>
    <p class="journey-note">Come follow my journey as I make my way to become the best!</p>
  </footer>
</div> 